.search-area {
    background-color: rgb(235, 235, 235);
    width: 25%;
    margin: 30px 0 60px;
    padding: 63px 0 63px;
    height: fit-content;
}

.form__set {
    width: 100%;
    background-color: #fafafa;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    border: none;
}

.form__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    margin: 0 0 15px 0;
}

.form__input-container {
    display: flex;
    margin: 0;
    max-width: 274px;
}

.form__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 7px 7px 3px;
    cursor: pointer;
}

.form__label:hover {
    opacity: .7;
    transition: opacity linear 0.3s;
}

.form__input {
    width: 75%;
    margin: 5px 0;
    height: 24px;
    padding: 0 5px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    border-radius: 1px;
    border: 1px solid #111;
    box-shadow: 0 0 0 15px #fafafa inset;
    caret-color: rgb(12, 12, 12);
    -webkit-text-fill-color: rgb(12, 12, 12);
}

.form__input::placeholder {
    font-weight: 400;
    -webkit-text-fill-color: #a1a1a1;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 0 0 25px #eeeeee inset;
}

.form__min-price-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    margin-left: auto;
    white-space: nowrap;
}