@import '../../utils/var.scss';

.card {
  width: $base-width;
  height: fit-content;
  color: #000;
  margin-bottom: 35px;
}

.card__heading {
  width: $base-width;
  height: $base-height;
  background-color: $blue-color;
  padding: 10px 15px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 5px;
  grid-template-areas:
    'logo cost'
    'logo info';
}

.card__logo {
  grid-area: logo;
  width: 100px;
  height: 40px;
  align-self: center;
}

.card__cost {
  grid-area: cost;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  justify-self: end;
}

.card__cost-info {
  grid-area: info;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  justify-self: end;
}

.card__list-info {
  margin: 0;
  padding: 0;
}

.card__list-item {
  list-style-type: none;
  border-top: solid 2px $blue-color;
  padding: 0 20px;
}

.card__list-flight {
  margin: 0;
  border-bottom: solid 2px $grey-color;
  padding: 13px 30px 13px 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
}

.card__airport-id {
  color: $blue-color;
  margin: 0 7px;
}

.card__list-container {
  padding: 13px 30px 13px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.card__list-time {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
}

.card__list-date {
  margin: 0 7px;
  color: $blue-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.card__list-duration {
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
}

.card__list-transfer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: $base-width;
  padding: 0 65px 0 50px;
  box-sizing: border-box;
}

.card__list-border-line {
  display: block;
  width: $base-width;
  height: 2px;
  background-color: $grey-color;
  border: none;
  margin: 10px 0;
}

.card__list-transfer {
  margin: 0 8px;
  white-space: nowrap;
  color: $orange-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
}

.card__list-carrier {
  margin: 0;
  padding: 13px 30px 13px 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
}

.card__button {
  width: $base-width;
  height: $base-height * 0.7;
  background-color: $orange-color;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  cursor: pointer;

  &:hover {
    // применил миксин, .6, '.3s' - передал аргументы (<= @mixin hover($opacity, $delay) {...})
    @include hover(.7, '.3s');
  }
}
